<div ng-controller="ResponseCtrl" class="response-container">
    <div class="scope-header">
        <i class="fa fa-reply" aria-hidden="true"></i> RESPONSE
    </div>
    <ul class="nav nav-tabs">
        <li role="presentation" ng-click="selectTab('headers')" ng-class="selectedTab=='headers'?'active':''"><a href="#">Headers</a></li>
        <li role="presentation" ng-click="selectTab('body')" ng-class="selectedTab=='body'?'active':''"><a href="#">Body</a></li>
    </ul>
    <div class="tab-content tab-content-headers" ng-show="selectedTab=='headers'">
        <div ng-show="flag" class="response-headers">    
            <div response-status code="{{ statusCode }}"></div>
            <a class="response-url js-external-link" href="{{ responseUrl }}" target="_blank"><i class="fa fa-location-arrow" aria-hidden="true"></i> {{ responseUrl }}</a>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key, value) in headers">
                        <td>{{key}}</td>
                        <td>{{ value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-content tab-content-body" ng-show="selectedTab=='body'">
        <div ng-show="flag" class="response-body">   
            <button class="btn btn-warning btn-format" ng-show="isJson && !formatted" ng-click="format()">Format</button>
            <div ng-show="isBinary"> Unable to display binary data. </div>
            <textarea class="form-control" readonly onclick="this.select()" ng-show="!isBinary">{{ body }}</textarea>
        </div>
    </div>
</div>